{{- partial "header.html" . }}

{{- $scope := .Site }}

{{- if .Title }}
  <header class="page-header"><h1 class="success">#{{ .Title }}</h1></header>{{ $scope = . }}
{{ end }}

{{- range .Pages.ByLinkTitle.ByDate }}

{{- $class := "post-entry" }}
<article class="{{ $class }}">
  <a href="{{ .Permalink }}">
    <header class="entry-header">
      <h2>{{ .Title }}</h2>
    </header>
    <section class="entry-content">
        {{ .Summary }}
    </section>
    <time><strong>{{ .Date.Format "January 2, 2006" }}</strong></time>
  </a>
  <footer class="entry-footer">
    {{ if .Params.tags }}
        <ul class="post-tags">
          {{ range .Params.tags }}
          <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">
            {{- . -}}
            </a></li>
          {{ end }}
        </ul>
    {{ end }}
  </footer>
</article>
{{- end }}

{{- partial "footer.html" . }}
