{{- partial "header.html" . }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta margin-y">
      {{- if or .Params.Author .Site.Author.name }}
      {{- .Params.Author | default .Site.Author.name }} · {{ end }}
      {{ if .Params.Date }}
        {{- .Date.Format "January 2, 2006" -}}
      {{ end }}
    </div>
    {{- if .Params.tags }}
      <ul class="post-tags">
        {{- range .Params.tags }}
			<li><a class="tag is-dark is-rounded" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . | title }}</a></li>
        {{- end }}
      </ul>
    {{- end }}
    <hr>
  </header>
  <div class="post-content">{{ .Content }}</div>
</article>

{{- partial "footer.html" . }}
