<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Title -->
      <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
      <!-- Meta -->
      {{- if eq .Kind "page" }}
      <meta name="description" content="{{ .Summary }}">
      <meta name="author" content="{{ .Params.Author | default .Site.Author.name }}">
      {{- else }}
      <meta name="description" content="{{ .Site.Params.description }}">
      <meta name="author" content="{{ .Site.Author.name }}">
      {{- end }}
      <!-- Styles -->
      <link href="{{ "an-old-hope.min.css" | relURL }}" rel="stylesheet">
      <link href="{{ "style.css" | relURL }}" rel="stylesheet">
      <link href="{{ "syntax.css" | relURL }}" rel="stylesheet">
      <link href="{{ "custom.css" | relURL }}" rel="stylesheet">

    </head>
  
  <body class="list home dark">
      {{- partial "nav.html" . }}
  <main class="main">
