<header class="header">
    <nav class="nav">
      {{- if .IsHome }}
      <h1 class="logo"><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
      {{- else }}
      <h1 class="logo"><a href="{{  "/" | relURL }}">{{ .Site.Title }}</a></h1>
      {{- end }}
      {{- if .Site.Menus.main }}
      <ul class="menu">
        {{- range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
      {{- end }}
    </nav>
</header>