{{- partial "header.html" . }}

{{- $scope := .Site }}

<h2 class="text-center margin-y">
  Welcome, to my official blog
</h2>

<ul class="post-tags text-center">
  {{ range .Site.Taxonomies.tags }}
          <li>
            <a class="notification" href="{{ .Page.Permalink }}">
              {{ .Page.Title }}
              <!-- <span class="badge">{{ .Count }}</span> -->
            </a> 
          </li>
  {{ end }}
</ul>

<hr>
<h3 class="margin-y">Recent posts</h3>
{{- range .Site.RegularPages.ByPublishDate.Reverse }}

{{- $class := "post-entry" }}
<article class="{{ $class }}">
  <header class="entry-header">
    <h2>{{ .Title }}</h2>
  </header>
  <section class="entry-content">
   <p>{{ .Description }}</p>
  </section>
  <footer class="entry-footer">
    <time>{{ .Date.Format "January 2, 2006" }}</time>
  </footer>
  <a class="entry-link" href="{{ .Permalink }}"></a>
</article>
{{- end }}



{{- partial "footer.html" . }}
