{{- partial "header.html" . }}

{{- $scope := .Site }}

<h1>Browse by category</h1>
<ul class="category-tag">
    <li><a class="redhat" href="/tags/rhel" >RHEL</a></li>
    <li><a class="redhat" href="/tags/jboss" >Jboss</a></li>
    <li><a class="ibm" href="/tags/websphere" >Websphere</a></li>
    <li><a class="redis" href="/tags/redis" >Redis</a></li>
    <li><a class="redhat" href="/tags/openshift" >Openshift</a></li>
</ul>

{{- range where .Pages.ByDate.Reverse "Section" "posts" }}
{{- $class := "post-entry" }}
  {{ range .Pages }}
    <article class="{{$class}}">
      <a  href="{{ .Permalink }}">
        <header class="entry-header">
            <h2>{{ .Title }}</h2>
        </header> 
        <section class="entry-content">
          {{ .Summary }}
        </section>
        <time><strong>{{ .Date.Format "January 2, 2006" }}</strong></time>
      </a>
      <footer class="entry-footer">
        <!-- {{ if .Params.tags }}
            <ul class="post-tags">
              {{ range .Params.tags }}
                <li>
                  <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" >
                    #{{- . -}}
                  </a>
                </li>
              {{ end }}
            </ul>
        {{ end }} -->
      </footer>
    </article>
  {{ end }}
{{- end }}

{{- partial "footer.html" . }}