{{- partial "header.html" . }}

{{- $scope := .Site }}

{{- range where .Pages.ByDate.Reverse "Section" "posts" }}
{{- $class := "post-entry" }}
  {{ range .Pages }}
    <article class="{{$class}}">
      <a  href="{{ .Permalink }}">
      <header class="entry-header">
          <h2>{{ .Title }}</h2>
        </header> 
        <section class="entry-content">
          {{ .Summary }}
        </section>
        <time><small>{{ .Date.Format "January 2, 2006" }}</small></time>
      </a>
      <footer class="entry-footer">
        {{ if .Params.tags }}
            <ul class="post-tags">
              {{ range .Params.tags }}
                <li>
                  <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" >
                    #{{- . -}}
                  </a>
                </li>
              {{ end }}
            </ul>
        {{ end }}
      </footer>
    </article>
  {{ end }}
{{- end }}

{{- partial "footer.html" . }}