/* Place a custom css file in your own project to use this. */

body{
    padding: 0px 15px;
}

.text-center{
    text-align: center;
}

.margin-y{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.toc{
    border: 0.5px solid #eee;
    border-radius: 25px;
    padding: 0 1rem;
    margin: 2rem 0;
}

@keyframes fade {
    from {background-color:#ff4088}
    to {background-color:transparent}
}

h2::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    /* background: rgb(30, 135, 240); */
    background: var(--color-success);
    position:absolute;
    left:0;
    top:0
}

.post-content h2 {
    font-size:2rem;
    position:relative;
    color:  #eee;
    padding-left:1.5rem;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

.post-content h3 {
    color: hsl(153, 60%, 62%);
}

.post-content h4 {
    color: hsl(195, 80%, 68%);
}

iframe {
    padding-bottom: 1rem;
}

.category-tag, #player-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.category-tag li {
    display: inline-block;
}

.category-tag li + li {
    margin-left: 3px;
}

.category-tag a {
    display: block;
    margin-bottom: 0.5rem;
    padding: 4px 8px;
    font-size: 18px;
    border-radius: 5px;
}

.redhat {
    background-color: crimson;
    color: #eee;
}

.ibm {
    background-color: cornflowerblue;
    color: white;
}

.redis {
    background-color: #eee;
    color: crimson;
}

.confluent{
    background-color: rgb(70, 162, 201);
    color: midnightblue;
    font-weight: bold;
}

/* Small screens */
@media only screen and (max-width: 800px) {
    .menu a{
        font-size: 16px;
    }

    .category-tag li + li {
        margin-left: 6px;
    }
}