/* Place a custom css file in your own project to use this. */

body{
    padding: 0px 15px;
}

.text-center{
    text-align: center;
}

.margin-y{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.notification {
    text-decoration: none;
    padding: 10px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.post-tags{
    /* position: absolute; */
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;

}